body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.logo img {
    height: 40px; 
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0;
    padding: 0;
}

.navbar li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.navbar li a:hover {
    background-color: #555;
}
.text {
    font-family: serif;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-image: url("photos and logo/my logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
}
.centered {
    text-align: center;
}

.shop-button {
    background-color: #007BFF;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.shop-button:hover {
    background-color: #0056b3;
}